* {
    margin: 0;
    padding: 0;
}

.navbar {
    background: linear-gradient(to bottom, #212529 0%, #003366 100%) !important;
    box-shadow: #1876d4 0px 0px 15px;
}

ul li a,
.navbar-brand,
h2 {
    color: rgb(146, 171, 207) !important;
}

ul li a:hover {
    color: rgb(17, 236, 229) !important;
}

.navbar-brand:hover {
    color: rgb(17, 236, 229) !important;
}

.content-wrapper {
    margin-left: 0px !important;
    margin-top: 50px;
    background-color: rgb(26, 24, 24);
}

.content {
    width: 70%;
    background-color: #212529;
    max-width: 700px;
}

footer {
    margin: 0px !important;
    background: linear-gradient(to bottom, #212529 0%, #003366 100%) !important;

}

#collapse1 {
    background-color: #212529 !important;
}

.ans {
    background-color: #32383d;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

p {
    color: white
}

hr {
    border-top: 1px solid rgb(107, 106, 106);
}

.hr-split {
    border-top: 1px solid rgb(26, 24, 24);
}

.top-cont {
    height: 600px !important;
    background: linear-gradient(to bottom, #212529 0%, #003366 100%);
    text-align: center;
}

.top-cont .bg-prof {

    height: 330px;
    width: 700px;
    border-radius: 10px;
    box-shadow: #1876d4 0px 0px 15px;
    margin-top: -50px;

}

.jumbotron .pho-prof img {
    align-items: center;
    box-shadow: #1876d4 1px 1px 10px;

}

.status {
    height: 200px;
    background-color: #212529;
    border-radius: 20px;

}

.input {
    margin: 20px;
    border-radius: 20px !important;

}

h3 {
    margin-top: 40px;
    padding: 15px;
}

.input-col {

    font-weight: bold;
    font-size: 12px;
    background-color: #212529 !important;

}
